python-dotenv>=1.0.0
schedule>=1.2.1
SQLAlchemy>=2.0.29
pandas>=2.2.1
ta>=0.11.0
requests>=2.31.0
beautifulsoup4>=4.12.3
praw>=7.7.1
ollama>=0.1.7
growwapi>=0.0.8
pyotp>=2.9.0
tenacity>=8.2.3
autotrade~=0.2.4
bs4~=0.0.2
dotenv~=0.9.9
statsmodels~=0.14.5
numpy~=1.26.4